.wrapper {
  h1 {
    margin: 0 auto;
  }
  background-color: rgb(241, 241, 241);
  margin: 20px 0;
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card {
  display: flex;
  width: 400px;
  button {
    margin: 0 15px;
  }
}
